In [1]:
from wormLearn import InferenceManager
# from commonTools import trakerManager
from plotnine import *
import datetime
import pandas as pd
import math
from mizani.breaks import date_breaks
from mizani.formatters import date_format

input your path to data
### Change the default path to the model in wormLearn/trackerManager.py

In [2]:

path_to_data = r'C:\Users\eddie\Documents\GitHub\wormLearn\figures\test_imgs'


# user-defining these is all unncessary now!
# path_to_model = r'C:\Users\ohbar\wormLearn\runs\20-03-10_17-19_retrain\trained_model.pth'
#file type? should be tif
# file_type = '.tif'
# timestamp_format = r'%M_%S'
# framerate = 0.2

In [3]:
# MGMT.easy_group_maker(start=1, total=n_plates, pre='\\Plate', n=1, post='\\')
#[f'\\plate{i}\\' for i in [3,4,5,6,12345]]

In [4]:


MGMT = InferenceManager(path_to_data)  
MGMT.read_data()

n_plates = len(MGMT.experiments)
n_plates = 6
MGMT.calibration_dictionary({2600/25.4:  MGMT.easy_group_maker(start=1, total=n_plates, pre='\\Plate', n=1, post='\\')[0]})  ## rig1
                            # 260/25.4:      MGMT.easy_group_maker(start=1, total=n_plates, pre='\\Plate', n=6, post='\\')[1],  ## rig2
                            # 260/25.4: MGMT.easy_group_maker(start=1, total=n_plates, pre='\\Plate', n=6, post='\\')[2],  ## rig3
                            # 260/25.4: MGMT.easy_group_maker(start=1, total=n_plates, pre='\\Plate', n=6, post='\\')[3],  ## rig4
                            # 260/25.4: MGMT.easy_group_maker(start=1, total=n_plates, pre='\\Plate', n=6, post='\\')[4], ## rig5
                            #  260/25.4: MGMT.easy_group_maker(start=1, total=n_plates, pre='\\Plate', n=6, post='\\')[5]}) ## rig6

25 .tif files found in C:\Users\eddie\Documents\GitHub\wormLearn\figures\test_imgs\Plate1\
25 .tif files found in C:\Users\eddie\Documents\GitHub\wormLearn\figures\test_imgs\Plate2\
25 .tif files found in C:\Users\eddie\Documents\GitHub\wormLearn\figures\test_imgs\Plate3\
25 .tif files found in C:\Users\eddie\Documents\GitHub\wormLearn\figures\test_imgs\Plate4\
25 .tif files found in C:\Users\eddie\Documents\GitHub\wormLearn\figures\test_imgs\Plate5\
25 .tif files found in C:\Users\eddie\Documents\GitHub\wormLearn\figures\test_imgs\Plate6\
Set framerate: 2.0 and time_format: %M%S for Imageset at \Plate1\
Set framerate: 2.0 and time_format: %M%S for Imageset at \Plate2\
Set framerate: 2.0 and time_format: %M%S for Imageset at \Plate3\
Set framerate: 2.0 and time_format: %M%S for Imageset at \Plate4\
Set framerate: 2.0 and time_format: %M%S for Imageset at \Plate5\
Set framerate: 2.0 and time_format: %M%S for Imageset at \Plate6\
set  \Plate1\ as 102.36220472440945
set  \Plate2\ as 102.36220472440945
set  \Plate3\ as 102.36220472440945
set  \Plate4\ as 102.36220472440945
set  \Plate5\ as 102.36220472440945
set  \Plate6\ as 102.36220472440945

In [5]:
## Infer the worm locations if you hadnt already
MGMT.infer_worm_BBoxes(autosave=True)

In [6]:
## or load the inferences if they existed already
MGMT.load_inferences_from_xml()

Organized 25 results into 25 timepoints.
Organized 25 results into 25 timepoints.
Organized 25 results into 25 timepoints.
Organized 25 results into 25 timepoints.
Organized 25 results into 25 timepoints.
Organized 25 results into 25 timepoints.

In [7]:
MGMT.track_worms(missing_frames_forgiven=2, max_mm_per_s=1, track_across_timepoints=True)

\Plate1\
Tracking across timepoints with 5.0 s between each
\Plate2\
Tracking across timepoints with 5.0 s between each
\Plate3\
Tracking across timepoints with 5.0 s between each
\Plate4\
Tracking across timepoints with 5.0 s between each
\Plate5\
Tracking across timepoints with 5.0 s between each
\Plate6\
Tracking across timepoints with 5.0 s between each

## Speed calculations across timepoints doesnt work right now, but heres the positional data:
CoM = center of mass of the worm, ie its x-y position.

In [8]:
MGMT.all_tracking_as_dataframe()

,boxes,labels,scores,wormID,CoM,Frame,timestamp,experiment
0,[1500. 1101. 1562. 1153.],1,0.999965,0,[1529.5054 1125.439 ],0.0,01:00:00:00,\Plate1\
1,[1032. 1114. 1093. 1167.],1,0.999874,1,[1063.287 1138.9471],0.0,01:00:00:00,\Plate1\
2,[1138. 771. 1193. 832.],1,0.999781,2,[1165.3314 801.2952],0.0,01:00:00:00,\Plate1\
3,[1069. 741. 1126. 793.],1,0.999468,3,[1097.8899 766.2567],0.0,01:00:00:00,\Plate1\
4,[ 994. 711. 1037. 780.],1,0.996237,4,[1015.4077 744.3758],0.0,01:00:00:00,\Plate1\
...,...,...,...,...,...,...,...,...
5,[1288. 354. 1327. 394.],1,0.988505,2,[1306.2764 373.56888],0.0,01:00:02:00,\Plate6\
6,[1173. 1332. 1215. 1372.],1,0.973375,4,[1193.6526 1350.9739],0.0,01:00:02:00,\Plate6\
7,[ 896. 1470. 944. 1525.],1,0.970407,8,[ 917.3382 1498.4602],0.0,01:00:02:00,\Plate6\
8,[1201. 1374. 1240. 1414.],1,0.965515,13,[1220.1199 1393.3293],0.0,01:00:02:00,\Plate6\
9,[1482. 1304. 1539. 1365.],1,0.948131,5,[1509.7302 1330.9543],0.0,01:00:02:00,\Plate6\

**speed tracker**

In [ ]:
MGMT.mean_speeds_by_group( MGMT.easy_group_maker(start=1, total=n_plates, pre='\\plate', n=4, post='\\'), ['a', 'b', 'c', 'd'])

**Rose plot dialogue**

In [ ]:
#MGMT.experiments[0].timepoints['01:00:00:00'].list_of_worms[0].coords
#make first frame 0,0 by subtracting the x and y. do to processive frames to get origin based data
#rotional transformation to get real 'rose' plot. 

MGMT.track_worms_all_experiments.list_of_worms(track_across_timepoints=True)

**paralysis analysis**

In [ ]:
group_names = ['RB','NJ','JCC','N2']

# paralysis_by_group, SEM_by_group = 
aldicarb_results = MGMT.paralysis_by_group(groups= MGMT.easy_group_maker(start=1, total=n_plates, pre='\\plate', n=4, post='\\'), group_names=group_names, max_mm_movement=0.15)

print(aldicarb_results)
aldicarb_results.to_csv(path_to_data+'\\my_results.csv')

In [ ]:
(ggplot(aldicarb_results, aes(x='time', y='mean', color='strain')) +
geom_line())